# Copy this file as `.env` and fill values without spaces

NODE_ENV=development
PORT=80

# Get GitHub token with user.read scope. See more: https://help.github.com/articles/creating-a-personal-access-token-for-the-command-line/
GITHUB_TOKEN=

# Create project, enable Google+ API and get an API key. See more: https://developers.google.com/+/web/api/rest/oauth#apikey
GOOGLE_KEY=
